@import '/css/variables.css';

.bg-div{
    background-image: url("/image/netflix-bg.jpg");
}

#head-contents{
    margin: 12rem 8rem;
    padding-bottom: 12rem;
}


#email-box{
    flex: 4;
   
}

#start-btn{
    flex: 2;
}
